<table align="center" border="1"> 
    <caption>List of Authors </caption>
    <tr>
        <td>Id</td>
        <td>Username</td>
        <td>Email</td>
        <td>Details</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
    
    {%for a in list %}
    
    <tr>
        <td>{{a.id}}</td>
        <td>{{a.username |upper}}</td>
        <td>{{a.email}}</td>
        <td><a href="#">Détails</a>
        </td>
        <td><a href="{{path('update',{'id':a.id})}}"> Update</a></td>
        <td><a href="{{path('delete', {'id':a.id})}}">Delete</a></td>
    </tr>
    {%endfor%}
    
</table>

<a href="{{path('add_author')}}"> Add Author </a>